{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify OTP</title>
    <link rel="stylesheet" href="{% static 'send_otp.css' %}">
    <style>
        .hero {
            background: url("{% static 'images/homepage_background.jpg' %}") no-repeat center center/cover;
            height: 100vh;
        }
    </style>
</head>


<body>
    <div class="otp-container">
        <div class="otp-box">
            <h2>OTP send successfully <br>Please check your inbox.</h2>

            <form method="POST" action="{% url 'verify_otp' %}">
                {% csrf_token %}
                <input type="text" name="otp" placeholder="Enter OTP" required>
                <button type="submit" class="otp-btn">Verify OTP</button>
            </form>
        </div>
    </div>
</body>
</html>
